/* ==========================================================================
   АГРЕГАТОР БЛОКОВ
   ========================================================================== */

@import 'header';
@import 'menu';
@import 'hero';
@import 'buttons';
@import 'sections';
@import 'products';
@import 'catalog';
@import 'footer';
@import 'responsive';

